<!DOCTYPE html>

<html>
    <head>
        <title>LionsBlog</title>
        <link rel="stylesheet" href="/default.css"/>
        @RenderSection("JavaScript", required: false)
    </head>

    <body>
        <h1>LionsBlog</h1>
        @RenderBody()
        <hr>
        <small>
            The time on the server is @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") -
            @Html.Raw(@ViewData["footer"])
        </small>
    </body>

</html>